{% extends 'layout/base.html' %}

{% block container %}
<div class="form-small">
   <h2 class="text-center mb-4 text-primary" ><i class="fa fa-user fa-3x"></i></h2>
   <h3 class="text-center"> Login</h3>

   <form class="mt-4" action="{{ url_for('fauth.login') }}" method="POST">

      <div class="form-group">
         {{ form.username.label }} 
         {{ form.username(class="form-control") }}
      
      </div>
     
      <div class="form-group mb-3">
         {{ form.password.label }} 
         {{ form.password(class="form-control") }}
   
      </div>
      {{  form.csrf_token  }}
      {{ form.next() }}
      <input class="btn btn-primary  " type="submit" value="Ingresar">
      
   </form>
</div>

   <script>
      var params = new URLSearchParams(window.location.search)
      if (params.has("next"))
         document.getElementById("next").value = params.get("next")
      console.log(document.getElementById("next").value)
   </script>
{% endblock %}